/* SocialMedia.css */

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-media-text {
  font-size: 20px;
  font-weight: bold;
}

.social-media-icons {
  display: flex;
  gap: 15px;
}

.social-media-link {
  text-decoration: none;
}

.linkedin {
  color: #0A66C2;
}
.linkedin:hover {
  text-decoration: underline;
  color: rgb(62, 113, 146);
}

.instagram {
  color: #E4405F;
}
.instagram:hover {
  text-decoration: underline;
  color: rgb(196, 43, 43);
}

.github {
  color: #333;
}
.github:hover {
  text-decoration: underline;
  color: rgb(113, 116, 109);
}


